webapp/API_KEYS.py
webapp/API_KEYS.py[cod]
*.pyc
webapp/*.pyc
complete_NuCat.sql
__pycache__/
*.py[cod]
webapp/*.py[cod]
NLP/API_KEYS.py
NLP/API_KEYS.py[cod]
NLP/*.py[cod]
NLP/*.pyc
NLP/corpiri/old_trans
NLP/old

nostradamIQ-htmengine-app
nostradamIQ-htmengine-app/*
nostradamIQ-htmengine-app/*/*
nostradamIQ-htmengine-app/*/*/*